{% extends 'firstapp/base.html' %}

{% block content %}

<div class="card p-3 mb-2 bg-white">
	<div class="card-header p-3 mb-2 bg-light">
		<h1 style="text-align: center; font-size: 80px; text-shadow: 2px 2px rgba(255, 255, 255, 0.541);" class="display-4">Delete All Tasks</h1>
	</div>
	<div class="card-body text-center">
        <h2 style="text-shadow: 2px 2px rgba(75, 255, 90, 0.445);" class="display-4">Are you sure you want to delete All of your tasks ?</h2>

        <br>

        <a href="{% url 'task' %}" class="btn btn-lg btn-success">Cancel</a>

		<form method="POST" action="">
            {% csrf_token %}
            <br>
			<input type="submit" name="Confirm" class="btn btn-lg btn-dark" id="ghj">
		</form>
	</div>
	<div class="card-footer text-center p-3 mb-2 bg-light">
        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-collection" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
        </svg>
	</div>
</div>

{% endblock %}
