{% extends 'firstapp/base.html' %}

{% block content %}

<br>

<div id="title">
    <h1 id="Header_t" class="display-1">To Do App</h1>

	<hr id="hr-1">
</div>

<div class="row">
    <div class="col">
        <div class="col-md">
			<div class="card text-center">
				<div class="card-header p-3 mb-2 bg-dark">
					<h1 class="display-4" id="ngh">Your Tasks</h1>
				</div>
				<div class="card-body p-3 mb-2 bg-white">
					<div class="center-column">
						<form class="form-group" action="" method="POST">
								{% csrf_token %}
								<hr>
								<h1 id="Footer">Type in a Title :</h1>
								<hr>
								{{form.name}}
								<hr>
								<h1 id="Footer1">Type in a Note :</h1>
								<hr>
								{{form.note}}
								<hr>
								<h1 id="Footer2">Select a Rank :</h1>
								<hr>
								{{form.priority}}
								<br>
								<hr>
								<br>
								<hr>
								<br>
								<button class="btn btn-lg btn-outline-info" type="submit">Create Task</button>
								<a class="btn btn-lg btn-outline-danger" href="{% url 'firstapp:delete_all' %}" type="submit">Delete All</a>
						</form>
						<div>
							{% for task in tasks %}
								<div class="item-row">
									<hr>
					
									{% if task.completion == True %}
										<s id="rof3"><h3 id="task">{{task}}</h3></s>
										<br>
										<hr>
										<a class="btn btn-md btn-light" href="{% url 'firstapp:update_task' task.id %}">Update</a>
										<a class="btn btn-md btn-dark" href="{% url 'firstapp:delete_task' task.id %}">Delete</a>
										<a class="btn btn-md btn-primary" href="{% url 'firstapp:note' task.id %}">View</a>
									{% else %}
										<h3 id="task">{{task}}</h3>
										<br>
										<a class="btn btn-md btn-light" href="{% url 'firstapp:update_task' task.id %}">Update</a>
										<a class="btn btn-md btn-dark" href="{% url 'firstapp:delete_task' task.id %}">Delete</a>
										<a class="btn btn-md btn-primary" href="{% url 'firstapp:note' task.id %}">View</a>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>		
				<div class="card-footer p-3 mb-2 bg-white">
					<br>
				</div>
			  </div>
		</div>
    </div>
</div>


{% endblock %}
