{% extends 'firstapp/base.html' %}

{% block content %}
    <style>
         body{
            background-image: url("https://images.unsplash.com/photo-1496737018672-b1a6be2e949c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 1400px 900px;
         }

        .ehr{ 
            overflow: hidden;
            position: relative;
            padding: 10px;
            height: 0.1;
            margin-top: 40px;
            text-align: center;
        }

        .card { background-color: rgba(245, 245, 245, 0.4); }
        .card-header, .card-footer { opacity: 1}

    </style>
<br>
<h1 id="mr2r" class="display-2" style="text-shadow: 2px 2px rgba(0, 0, 0, 0.507);">Your Proirities</h1>
<hr id="asdgh12">

<div class="row">
    <div class="col">
        <div class="col-md">
			<div class="card text-center">
				<div class="card-header">
                    <h1 class="display-3" style="color: rgb(255, 255, 255);" id="abc">Rank</h1>
                </div>
                <div class="card-body">
                    {% for task in tasks %}
                        {% if task.priority == 'Least Important' %}
                                <hr class="ehr">
                                <h3 id="gh2" class="display-4">{{task}}</h3>
                                <h5 style="color: rgb(0, 0, 0); text-shadow: 2px 2px rgba(255, 255, 255, 0.479);">✨ Least Important</h5>
                        {% elif task.priority == 'Somewhat Important' %}
                                <hr class="ehr">
                                <h3 id="efg" class="display-4">{{task}}</h3>
                                <h5 style="color: rgb(0, 0, 0); text-shadow: 2px 2px rgba(255, 255, 255, 0.479);">⭐ Somewhat Important</h5>
                        {% else %}
                                <hr class="ehr">
                                <h3 id="bbc" class="display-4">{{task}}</h3>
                                <h5 style="color: rgb(0, 0, 0); text-shadow: 2px 2px rgba(255, 255, 255, 0.479);">🌟 Mandatory</h5>
                        {% endif %}
                    {% endfor %}
                </div>
		    </div>
        </div>
    </div>
</div>


{% endblock %}
