{% extends 'firstapp/base.html' %}

{% block content %}
    <style>
        body{
            background-image: url("https://images.unsplash.com/photo-1444090542259-0af8fa96557e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 1400px 750px;
        }

        .card { background-color: rgba(245, 245, 245, 0.4); }
        .card-header, .card-footer { opacity: 1}

    </style>
<br>
<h1 id="mr2r" class="display-2" style="text-shadow: 2px 2px rgba(0, 0, 0, 0.301);">Your Status</h1>
<hr id="asdgh">

<div class="row">
    <div class="col">
        <div class="col-md">
			<div class="card text-center">
				<div class="card-header">
                    <h1 class="display-3" id="ngm">Status</h1>
                </div>
                <div class="card-body">
                    {% for task in tasks %}
                        {% if task.completion == True %}
                                <br>
                                <h3 id="gh3" class="display-4">{{task}}</h3>
                                <h5 style="color: whitesmoke; text-shadow: 2px 2px rgba(0, 0, 0, 0.479);">Completed</h5>
                                <hr>
                        {% else %}
                                <br>
                                <h3 id="gh" class="display-4">{{task}}</h3>
                                <h5 style="color: whitesmoke; text-shadow: 2px 2px rgba(0, 0, 0, 0.479);">Incomplete</h5>
                                <hr>
                        {% endif %}
                    {% endfor %}
                </div>
		    </div>
        </div>
    </div>
</div>

{% endblock %}
